<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>



    <div class="container">
        <h1>{{msg}}</h1>
        <h2>Survey Questions</h2>
        <hr>

        <h3><strong>Question 1</strong></h3>
        <h4>What kind of breed are you interested</h4>
        <select data-placeholder="" class="chosen-select" id="q1">
            <option value=""></option>
            <option value="Beagle">Beagle</option>
            <option value="Chihuahua">Chihuahua</option>
            <option value="Poodle">Poodle</option>
            <option value="Pomeranian">Pomeranian</option>
            <option value="Pug">Pug</option>
            <option value="Shit tzu">Shit tzu</option>
            <option value="Saint Bernard">Saint Bernard</option>
            <option value="Pointer">Pointer</option>
            <option value="American Bulldog">American Bulldog</option>
            <option value="Cocker Spaniel">Cocker Spaniel</option>
            <option value="Yorkshire Terrier">Yorkshire Terrier</option>
            <option value="Bernese Mountain Dog">Bernese Mountain Dog </option>
            <option value="Doberman Pinscher">Doberman Pinscher</option>
            <option value="Bichon Frise">Bichon Frise</option>
            <option value="German Shepard Dog">German Shepard Dog</option>
            <option value="Border Collie">Border Collie</option>
            <option value="Great Dane">Great Dane</option>
            <option value="Boxer">Boxer</option>
            <option value="Labrador Retriever">Labrador Retriever</option>
            <option value="Greyhound">Greyhound</option>
        </select>

        <h3><strong>Question 2</strong></h3>
        <h4>What is ideal size of your Dog?</h4>
        <select data-placeholder="" class="chosen-select" id="q2">
            <option value=""></option>
            <option value="S">Small</option>
            <option value="M">Medium</option>
            <option value="L">Large</option>
            <option value="XL">Extra Large</option>
        </select>

        <h3><strong>Question 3</strong></h3>
        <h4>Would you like a Male or Female Dog?</h4>
        <select data-placeholder="" class="chosen-select" id="q3">
            <option value=""></option>
            <option value="M">Male</option>
            <option value="F">Female</option>
        </select>

        <h3><strong>Question 4</strong></h3>
        <h4>Where are you located? Zip Code or Nearest City</h4>
        <p><b> ZIP / City </b></p>
        <input type="text" name="location" class="chosen-select" id='q4'>
        <br>


        <h3><strong>Question 5</strong></h3>
        <h4>What age Dog are you looking for?</h4>
        <select data-placeholder="" class="chosen-select" id="q5">
            <option value=""></option>
            <option value="Baby">Puppy</option>
            <option value="Young">Young</option>
            <option value="Adult">Adult</option>
            <option value="Senior">Senior</option>
        </select>

        <br>
        <br>

        <input type="submit" value="Submit" id="survey-submit">


        <h2>Submitted Surveys</h2>
        <ul>
            {{#each surveys}}
            <li>
                <h5>Survey Number: {{this.id}}</h5>
                <p>Breed: {{this.breed}}</p>
                <p>Size: {{this.size}}</p>
                <p>Gender: {{this.gender}}</p>
                <p>Location: {{this.location}}</p>
                <p>Age: {{this.age}}</p>
                <p>Time of Survey: {{this.createdAt}}</p>
                <div id="pet-container">hi</div>
                <button class="btn btn-md delete-survey" type="submit" data-id="{{id}}">Delete Survey</button>
            </li>
            {{/each}}
        </ul>

        <script>
            $(".delete-survey").click(function (event) {
                event.preventDefault();
                console.log("you clicked the delete button");
                var id = $(this).data("id");
                var deleteId = { id: id };
                deleteButton(deleteId);
            });

            $("#survey-submit").click(function (event) {
                event.preventDefault();

                if (validateForm()) {
                    var userData =
                    {
                        breed: $("#q1").val(),
                        size: $("#q2").val(),
                        gender: $("#q3").val(),
                        location: $("#q4").val(),
                        age: $("#q5").val()
                    };

                    apiQuery = "http://api.petfinder.com/pet.find?";
                    apiKey = "key=c52dc8a371569b0c38590a22793f487b";
                    breed = "&breed=" + userData.breed;
                    size = "&size=" + userData.size;
                    gender = "&gender=" + userData.gender
                    region = "&location=" + userData.location;
                    age = "&age=" + userData.age;
                    format = "&format=json&callback=?";
                    apiURL = apiQuery + apiKey + breed + size + gender + region + age + format;
                    console.log(apiURL);

                    petSurveyPost(userData);
                    petFinderCall(apiURL);
                }
                else {
                    alert("Please fill out all questions");
                }
            });



            //-------------------------Helper Functions----------------------------//

            var validateForm = () => {
                var isValid = true;
                $(".chosen-select").each(function () {
                    if ($(this).val() === "") {
                        isValid = false;
                    }
                });
                return isValid;
            }

            var petFinderCall = (apiURL) => {
                $.ajax({
                    url: apiURL,
                    dataType: "jsonp",
                    method: "GET"
                }).then(function (response) {

                    petFinderData = response.petfinder.pets.pet;
                    showPetData(petFinderData);
                });
            }

            var petSurveyPost = (userData) => {
                $.ajax("/api/examples", {
                    type: "POST",
                    data: userData
                }).then(() => {
                    console.log("User Data was added!");
                    //location.reload(); //reloads page to clear out survey fields
                });
            }

            var deleteButton = (deleteId) => {
                $.ajax("/api/examples", {
                    type: "DELETE",
                    data: deleteId
                }).then(() => {
                    console.log("You deleted survey with ID: " + deleteId);
                    location.reload();
                });
            }


            var showPetData = (petFinderData) => {
                let petList = [];


                for (let i = 0; i < petFinderData.length; i++) {
                    if (Array.isArray(petFinderData[i].breeds.breed)) {
                        breed = petFinderData[i].breeds.breed[0].$t;
                    }
                    else {
                        breed = petFinderData[i].breeds.breed.$t;
                    }
                    let newPet = {
                        petName: petFinderData[i].name.$t,
                        petPhoto: petFinderData[i].media.photos.photo[0].$t,
                        petBreed: breed
                    }

                    petList.push(newPet);
                };
                console.log(petList);

                for (let i = 0; i < petList.length; i++) {

                    //Creating each container for each pet card
                    $("#pet-container").append(`<div class='petcard'>
                        <div class="card-body text-center">
                        <h5 class="card-title">${JSON.stringify(petList[i].petName)}</h5>
                        <div class="card-details">
                        <img src=${JSON.stringify(petList[i].petPhoto)}>
                        <h6 class="card-subtitle mb-2 text-muted">Breed: ${JSON.stringify(petList[i].petBreed)}</h6>
                        <a class="btn btn-primary card-detail" data-val="${i}">Learn more about ${JSON.stringify(petList[i].petName)}</a>
                        </div>
                        </div>`);
                };
            }


        </script>

</body>

</html>