<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="navbar">
        <div class="container">
            <a href="/">
                <h1 id="fetPinder">FetPinder</h1>
            </a>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
                <img src="/assets/pawprint.png" id="paw"></a>
        </div>
    </div>

   
    <div class="survey-container">
        <h1>{{msg}}</h1>
        <h2>Survey Questions</h2>
        <h3>{{starter}}</h3>
        {{#each recs}}
        <li>{{this}}</li>
        {{/each}}
        <hr>
        <div class="question-container">
            <div class="survey-question-one">
                <h3 class="text"><strong>Question 1</strong></h3>
                <h4>What kind of breed are you MOST interested</h4>
                <select data-placeholder="" class="chosen-select" id="q1">
                    <option value=""></option>
                    {{#each recs}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="survey-question-two">
                <h3 class="text">
                    <strong>Question 2</strong></h3>
                <h4>What is ideal size of your Dog?</h4>
                <select data-placeholder="" class="chosen-select" id="q2">
                    <option value=""></option>
                    <option value="S">Small</option>
                    <option value="M">Medium</option>
                    <option value="L">Large</option>
                    <option value="XL">Extra Large</option>
                </select>
            </div>
            <div class="survey-question-three">
                <h3 class="text"><strong>Question 3</strong></h3>
                <h4>Would you like a Male or Female Dog?</h4>
                <select data-placeholder="" class="chosen-select" id="q3">
                    <option value=""></option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                </select>
            </div>
            <div class="survey-question-four">
                <h3 class="text"><strong>Question 4</strong></h3>
                <h4>Where are you located? Zip Code or Nearest City</h4>
                <p><b> ZIP / City </b></p>
                <input type="text" name="location" class="chosen-select" id='q4'>
                <br>
            </div>
            <div class="survey-question-five">
                <h3 class="text"><strong>Question 5</strong></h3>
                <h4>What age Dog are you looking for?</h4>
                <select data-placeholder="" class="chosen-select" id="q5">
                    <option value=""></option>
                    <option value="Baby">Puppy</option>
                    <option value="Young">Young</option>
                    <option value="Adult">Adult</option>
                    <option value="Senior">Senior</option>
                </select>
            </div>
        </div>
        <div class="submit-container">
            <div></div>
            <input type="submit" value="Submit" id="survey-submit" style="height: 60px;">
        </div>
        <br><br>

        <div id="pet-container"></div>


        
        
        <script>

            $("#survey-submit").click(function (event) {
                event.preventDefault();

                if (validateForm()) {
                    var userData =
                    {
                        breed: $("#q1").val(),
                        size: $("#q2").val(),
                        gender: $("#q3").val(),
                        location: $("#q4").val(),
                        age: $("#q5").val()
                    };

                    apiQuery = "http://api.petfinder.com/pet.find?";
                    apiKey = "key=c52dc8a371569b0c38590a22793f487b";
                    breed = "&breed=" + userData.breed;
                    size = "&size=" + userData.size;
                    gender = "&gender=" + userData.gender
                    region = "&location=" + userData.location;
                    age = "&age=" + userData.age;
                    format = "&format=json&callback=?";
                    apiURL = apiQuery + apiKey + breed + size + gender + region + age + format;
                    console.log(apiURL);

                    petSurveyPost(userData);
                    petFinderCall(apiURL);
                }
                else {
                    alert("Please fill out all questions");
                }
            });



            //-------------------------Helper Functions----------------------------//

            var validateForm = () => {
                var isValid = true;
                $(".chosen-select").each(function () {
                    if ($(this).val() === "") {
                        isValid = false;
                    }
                });
                return isValid;
            }

            var petFinderCall = (apiURL) => {
                $.ajax({
                    url: apiURL,
                    dataType: "jsonp",
                    method: "GET"
                }).then(function (response) {
                    console.log(response.petfinder);
                    petFinderData = response.petfinder.pets.pet;

                    showPetData(petFinderData);
                });
            }

            var petSurveyPost = (userData) => {
                $.ajax("/api/examples", {
                    type: "POST",
                    data: userData
                }).then(() => {
                    console.log("User Data was added!");
                    //location.reload(); //reloads page to clear out survey fields
                });
            }

            var deleteButton = (deleteId) => {
                $.ajax("/api/examples", {
                    type: "DELETE",
                    data: deleteId
                }).then(() => {
                    console.log("You deleted survey with ID: " + deleteId);
                    location.reload();
                });
            }

            var learnButton = () => {

            }


            var showPetData = (petFinderData) => {
                let petList = [];
                console.log(petFinderData);

                for (let i = 0; i < petFinderData.length; i++) {
                    if (Array.isArray(petFinderData[i].breeds.breed)) {
                        breed = `Mixed breed of: ` + petFinderData[i].breeds.breed[0].$t + 
                        ` and ` + petFinderData[i].breeds.breed[1].$t;
                    }
                    else {
                        breed = petFinderData[i].breeds.breed.$t;
                    };
                    //console.log(breed);
                    if (petFinderData[i].media.photos && Array.isArray(petFinderData[i].media.photos.photo)) {
                        photo = petFinderData[i].media.photos.photo[2].$t;
                    }
                    else {
                        photo = "";
                    };
                    console.log(i);
                    console.log(photo);
                    let newPet = {
                        petName: petFinderData[i].name.$t,
                        petPhoto: photo,
                        petBreed: breed,
                        petDescription: petFinderData[i].description.$t
                    }

                    petList.push(newPet);
                };
                console.log(petList);

                for (let i = 0; i < petList.length; i++) {

                    //Creating each container for each pet card
                    $("#pet-container").append(`<div class='petcard'>
                        <div class="card-body text-center">
                        <h5 class="card-title">${JSON.stringify(petList[i].petName)}</h5>
                        <div class="card-details">
                        <img src=${JSON.stringify(petList[i].petPhoto)} alt="No Image Provided" style= "height: 160px">
                        <div class="breed-details">
                        <h6 class="card-subtitle mb-2 text-muted">Breed: ${JSON.stringify(petList[i].petBreed)}</h6>
                        </div>
                        <a class="btn btn-primary card-detail" data-val="${i}" id="learnmorebutton">Learn more about ${JSON.stringify(petList[i].petName)}</a>
                        </div>
                        </div>`);
                };
            }


        </script>

</body>

</html>